.form-group {
  position: relative;
}

.text-help {
  background-color: $red;
  color: #fff;
  display: table;
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 40px;
  font-size: 0.75rem;
  position: relative;
  left: 0;
  bottom: -32px;
  &::before {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../../dist/public/img/icons/exclamation-circle-white.svg');
    background-size: 100% 100%;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -8px;
    z-index: 9;
  }

  &::after {
    content: '';
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $red;
    right: 24px;
    top: -5px;
  }
}

@media only screen and (max-width: 600px) {
  .text-help {
    bottom: 0;
    &::after {
      right: inherit;
      left: 16px;
    }
  }
}

@media only screen and (max-width: 1091px) {
  .justify-your-answer {
    .text-help {
      bottom: -16px;
    }
  }
}

@media only screen and (min-width: 1092px) {
  .text-help {
    left: -15%;
    position: absolute;
    bottom: -52px;
  }
}

// Keyframes

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  to {
    opacity: 0
  }
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}