// Font

$default-font: 'Roboto', Helvetica, Arial, sans-serif;

// Colors

$yellow: #FFCC3E;
$purple: #5D1499;
$green: #66A600;
$pink: #ec0cc3;
$red: #CC1D31;
$blue: #0880c7;

// Greys

$boulder: #c5c5c5;
$silvace: #282828;
