// Importing required

@import './_normalize.scss';
@import './_variables.scss';
@import './../../node_modules/bootstrap-4-grid/scss/grid.scss';
@import './_utils';

// Generic

html {
  line-height: 1.5;
}

#main-content {
  overflow-x: hidden;
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;

  &.small {
    max-width: 830px;
  }

  &.super-small {
    max-width: 665px;
  }
}

body {
  font-family: $default-font;
}
// Form

#performance-evaluation {
  width: 100%;
  max-height: 10000px;
  transition: 0.5s;
  &.limited {
    max-height: 100vh;
    overflow: hidden;
  }
  &.opened {
    opacity: 0;
    & + #review-answers {
      transition: 0.5s;
      top: 0;
      height: 100%;
      overflow-y: auto;
      transform: translateY(0);
    }
  }
}

#intro {
  background-color: $purple;
  position: relative;

  .intro-content {
    padding: 180px 0;
    overflow: hidden;
  }

  h1, h3 {
    position: relative;
    z-index: 9;
  }

  h1 {
    margin: 0;
    text-align: center;
    color: $yellow;
    font-size: 2rem;

  }

  h3 {
    text-align: center;
    margin-top: 4px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }

  .scroll-down {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
  }
}

#people-envolved {
  position: relative;
  z-index: 9;
  margin-top: 40px;
  display: table;
  width: 100%;
  .evaluator {
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
  }

  .evaluated {
    margin-top: 44px;
    label {
      color: #fff;
      font-size: 1.125rem;
    }

    .select-customized {
      height: 40px;
      background-image: url('https://static.clickbus.com/live/ClickBus/landing-pages/evaluation/img/exclamation-circle.svg');
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: calc(100% - 85px) center;
      position: relative;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-top: 8px;
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 75px;
        border-left: 1px solid $boulder;
        background-image: url('https://static.clickbus.com/live/ClickBus/landing-pages/evaluation/img/arrow-down.svg');
        background-size: 12px 6px;
        background-position: center center;
        background-repeat: no-repeat;
        right: 0;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        left: 0;
        top: 0;
        z-index: -1;
      }

      select {
        position: absolute;
        border-radius: 0;
        width: calc(100% + 20px);
        height: 100%;
        background-color: transparent;
        color: rgba(#000, 0.5);
        font-size: 0.875rem;
        border: 0;
        cursor: pointer;
        outline: none !important;
        z-index: 9;
      }
    }

    .text-help {
      display: none !important;
    }

    .form-group {
      &.has-danger {
        .select-customized {
          border: 2px solid $red;
        }
      }
    }

  }

  .observation {
    font-size: 0.75rem;
    float: right;
    background-color: $red;
    padding: 8px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    &::before {
      content: '';
      width: 0;
      position: absolute;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $red;
      right: 87px;
      top: -5px;
    }
    b {
      color: $yellow;
    }
  }
}

.guidelines {
  margin-top: 100px;
  .guidance {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    color: #666;
    line-height: 1.5;
    height: 100%;
    p {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 520px) {
  #intro {
    .intro-content {
      padding: 75px 20px;
    }
  }
  .intro-content {

    h3 {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  #people-envolved {
    .evaluator {
      text-align: center;;
    }

    .evaluated {
      .select-customized {
        background-size: 14px 14px;
        background-position: calc(100% - 40px);
        select {
          font-size: 0.8rem;
        }
        &::after {
          width: 30px;
        }
      }
    }

    .observation {
      &::before {
        right: 41px;
      }
    }
  }

  .guidelines {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .guidelines {
    .guidance {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 991px) {
  .guidelines {
    .guidance {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (min-width: 768px) {
  #intro {
    h1 {
      font-size: 2.6rem;
    }
  }
  #people-envolved {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 992px) {
  #intro {
    h1 {
      font-size: 3.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }
  }

  .guidelines {
    .container {
      position: relative;
    }

    img {
      &.intro {
        position: absolute;
        pointer-events: none;
        &.part-one {
          bottom: calc(100% - 100px);
          left: calc(100% - 270px);
        }

        &.part-two {
          bottom: -55%;
          right: 45px;
        }
      }
    }
  }
}

// Form input section

.input-section {
  padding-bottom: 80px;

  &#customer-focus {
    padding-top: 80px;
  }
  label {
    &.title-section {
      font-size: 2rem;
      color: $purple;
      font-weight: bold;
      display: block;
      line-height: 1.3;
      span {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 8px;
        font-weight: 400;
      }
      & + span {
        display: block;
        color: rgba(#000, 0.5);
        font-size: 1rem;
      }
    }
  }

  .description {
    margin: 32px 0 40px 0;
    font-size: 1.125rem;
    color: $silvace;
  }

  .radio-wrapper {
    width: calc(20% - 5px);
    position: relative;
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;
  }

  [type="radio"] {
    display: none;
    & + .radio-description {
      display: inline-block;
      width: 85px;
      height: 85px;
      cursor: pointer;
      border: 1px solid rgba(#000, 0.5);
      border-radius: 100%;
      margin: 0 auto;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      span {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        top: 85%;
        font-size: 12px;
        color: $boulder
      }
    }

    &:checked {
      & + .radio-description {
        background-color: $pink;
        border-color: transparent;
        span {
          color: $pink;
        }
      }
    }
  }

  .justify-your-answer {
    margin-top: 60px;
    label {
      cursor: pointer;
      font-size: 0.875rem;
      color: $silvace;

    }
    textarea {
      margin-top: 12px;
      display: block;
      outline: none;
      resize: none;
      border: 1px solid $boulder;
      padding: 15px;
      border-radius: 8px;
      width: 100%;
      height: 92px;
      font-size: 14px;
      transition: 0.2s;
      &:focus {
        border-color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .input-section {
    padding-bottom: 40px;
    .radio-wrapper {
      width: 100%;
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    [type="radio"] {
      & + .radio-description {
        width: 40px;
        height: 40px;
        span {
          top: 50%;
          transform: translateY(-50%);
          text-align: left;
          left: 60px;
        }
      }
    }

    .justify-your-answer {
      margin-top: 40px;
    }
  }
}

.button {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  padding: 16px 64px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: 0.2s;

  &.submit {
    background-color: $yellow;
    color: darken($yellow, 25%);
    &:not(.loading):hover {
      background-color: darken($yellow, 10%);
    }
  }

  &.loading {
    text-indent: -9999px;
    font-size: 0;
    color: transparent;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent !important;
    border-radius: 100%;
    border-top-color: transparent !important; 
    animation: rotate 0.5s linear 0.1s infinite;
    -webkit-animation: rotate 0.5s linear 0.1s infinite;
    -moz-animation: rotate 0.5s linear 0.1s infinite;
    -ms-animation: rotate 0.5s linear 0.1s infinite;
    &.submit {
      border: 3px solid $yellow;
    }

    &#confirm {
      border: 3px solid #239E9A;
    }
  }

  &.closed {
    color: transparent;
    font-size: 0;
    text-indent: -9999px;
    width: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .button {
    font-size: 0.9rem;
    padding: 12px 40px;
    &.loading {
      width: 40px;
      height: 40px;
    }
  }
}

.actions {
  margin-top: 48px;
  text-align: center;

  .button {
    color: #fff;
  }

  #confirm , #reload{
    background-color: #239E9A;
    margin-left: 12px;
    &:hover {
      background-color: darken(#239E9A, 10%);
    }
  }

  #reload {
    display: table;
    font-size: 0.85rem;
    padding: 12px 24px;
  }

  #restart {
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

@media only screen and (max-width: 480px) {
  .actions {
    .button {
      width: 100%;
      &.loading {
        width: 40px;
      }
    }

    #confirm {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}

// Review

#review-answers {
  width: 100%;
  position: fixed;
  z-index: 99;
  padding-bottom: 60px;
  transition: all 0.5s;
  transform: translateY(100%);
  
  &.confirmed {
    opacity: 0;
    & + #success-page {
      top: 0;
      transform: translateY(0);
    }
  }

  .header-review {
    background-color: $purple;
    position: relative;
    img {
      display: block;
      width: 75%;
      max-width: 440px;
      margin: 0 auto;
      position: relative;
      top: 28px;
      z-index: 99;
    }
  }
}

#display-answers {
  .container {
    background-color: #fff;
    position: relative;
    z-index: 9;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: -52px;
    h2 {
      margin-top: 112px;
      text-align: center;
      color: $purple;
      font-size: 3.2rem;
      line-height: 1.3;
      margin-bottom: 0;
    }

    .evaluator-name {
      display: block;
      text-align: center;
      color: rgba(#000, 0.5);
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 520px) {
  #display-answers {
    .container {
      h2 {
        font-size: 2.4rem;
      }

      .evaluator-name {
        font-size: 1rem;
      }
    }
  }
}

.revision-section {
  margin-top: 40px;
  h3 {
    font-size: 1.4rem;
    margin: 0;
  }

  .answer {
    font-size: 0.8rem;
  }

  textarea {
    margin-top: 12px;
    display: block;
    background-color: #f4f4f4;
    outline: none;
    resize: none;
    border: 1px solid $boulder;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    height: 74px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .display-answers {
    h2 {
      font-size: 2.6rem;
      & + span {
        font-size: 1rem;
      }
    }
  }
}


#success-page {
  position: fixed;
  z-index: 999;
  transform: translateY(100%);
  transition: 0.5s;
}

.success-message {
  width: 100vw;
  height: 100vh;
  background-color: $purple;

  .container, .row {
    height: 100vh;
  }
  img {
    width: 100%;
  }

  .success-content {
    h3 {
      font-size: 3rem;
      color: $yellow;
      line-height: 1.2;
      margin: 0;
    }

    .evaluator-finish {
      color: rgba(#fff, 0.8);
      font-size: 1.2rem;
      margin-top: 8px;
    }

    .actions {
      margin-top: 16px;
      #reload {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .success-message {
    .success-content {
      text-align: center;
      h3 {
        font-size: 2rem;
      }

      .evaluator-finish {
        font-size: 1rem;
      }
      .actions {
        #reload {
          margin: 0 auto;
          width: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .success-message {
    .success-content {
      h3 {
        margin-top: 56px;
      }
    }
  }
}

footer {
  padding: 80px 0 60px 0;
  .copyright {
    border-top: 1px solid $boulder;
    padding-top: 40px;
    text-align: center;
    color: $boulder;
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 40px 0;
  }
}